.cache/
cache/
libraries/
logs/
plugins/*.jar
plugins/.paper-remapped/
versions/
world/
world_nether/
world_the_end/
.paper.env
.papermc-manifest.json
.rcon-cli.env
.rcon-cli.yaml
banned-ips.json
banned-players.json
ops.json
paper*.jar
usercache.json
version_history.json
whitelist.json
permissions.yml
wepif.yml

# ===== Additional worlds =====
bedwars-world/

# ===== Plugins =====
# Bedwars1058
plugins/Bedwars1058/Cache/

# Parkour
plugins/Parkour/players/
plugins/Parkour/sessions/
plugins/Parkour/sqlite-db/
plugins/Parkour/Parkour.log

# WorldEdit
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/assets/
plugins/WorldEdit/schematics/
plugins/WorldEdit/sessions/

# ajLeaderboards
plugins/ajLeaderboards/libs/
plugins/ajLeaderboards/past-resets/
plugins/ajLeaderboards/cache.mv.db
plugins/ajLeaderboards/cache_storage.yml



