.cache/**
cache/**
libraries/**
logs/**
plugins/*.jar
versions/**
world/
world_nether/
world_the_end/
.paper.env
.papermc-manifest.json
.rcon-cli.env
.rcon-cli.yaml
banned-ips.json
banned-players.json
ops.json
paper*.jar
usercache.json
version_history.json
whitelist.json
